body {
    margin: 0;
    background-color: rgb(154, 136, 124);
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;

    & h1 {
        color: rgb(154, 136, 124);
        margin-left: 1em;
    }
}

ul {
    display: flex;
    list-style: none;

}

li a {
    display: block;
    color: rgb(154, 136, 124);
    margin-right: 1em;
    text-decoration: none;

    & a:hover {
        background-color: #333333;
    }
}

#splashScreen {
    background-image: url("./Images/stocksnap-coffeehouse-2600877_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 720px;
    text-align: center;
    align-content: center;
}

.box {
    display: inline-block;
    background-color: #222222;
    padding: 2em;

}

.insideBox {
    margin-top: 0;
    color: rgb(154, 136, 124);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#location {
    text-align: center;
    margin: 1em;

    & iframe {
        width: 80%;
    }
}

#aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;

    & div:first-child {
        grid-column: 1/-1;
        text-align: center;
    }

    & img {
        width: 100%;
        height: auto;
    }
}

#coffee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 1em;

    & h2 {
        grid-column: 1/-1;
        text-align: center;
        margin-top: 0;
    }

    & img {
        width: 100%;
        height: auto;
    }
}

.backToTop {
    display: block;
    text-align: center;
    margin-bottom: 3%;
}

footer {
    text-align: center;
    background-color: #222222;
    padding: 1em;

    & p,
    address {
        color: rgb(154, 136, 124);
    }

    & a {
        text-decoration: none;
        color: rgb(154, 136, 124);
    }

}

.mobile {
    display: none;
}

@media all and (max-width: 800px) {

    #location iframe {
        width: 100%;
        height: auto;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        padding: 0 10%;
        margin-bottom: 2em;
    }

    #coffee {
        grid-template-columns: 1fr;
        padding: 0 20%;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media all and (max-width: 460px) {
    #navBar {
        flex-direction: column;
    }

    #splashScreen {
        min-height: 460px;
    }

    #aboutUs {
        padding: 0;
    }

    #coffee {
        padding: 0 10%;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}